@import '../../variables';
@import '../../mixins';
.banner{
    min-height: 830px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-top: 97px;
    background: url(../images/brecon-bild.png) no-repeat center/cover;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0.77) 32.24%, rgba(0, 0, 0, 0) 100%);
        background-size: cover;
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    @include mq(lg) {
        min-height: 100vh;
    }
    .topbar {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        z-index: 2;
        display: flex;
        & > .bar {
            height: 13px;
            flex-basis: 100%;
        }
        .color {
            &-blue {
                background:#21578A ;
                &--light{
                    background:#B3C8E6 ;
                }
                &--dark{
                    background:#002F5F ;
                }
            }
            &-yellow {
                background:#E3B838 ;
            }
            &-red {
                background:#D52B21 ;
            }
            &-gray {
                background:#9EA1A8 ;
                &--dark {
                    background:#3F3D3E ;
                }
            }
        }

    }
}
