@import '../../variables';
@import '../../mixins';
.banner{
    min-height: 830px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-top: 97  px;
    background: url(../images/brecon-bild.png) no-repeat center/cover;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.77) 0%, rgba(0, 0, 0, 0.77) 32.24%, rgba(0, 0, 0, 0) 100%);
        background-size: cover;
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    @include mq(lg) {
        min-height: 100vh;
    }
}
