@import '../../variables';
@import '../../mixins';


.footer {
    padding-top: 164px;
    @include mq(lg) {
        padding-top: 80px;
    }
      .copyright__text {
        font-size: 16px;
        line-height: 21px;
        color: #272727;
    }
    p {
        font-size: 18px;
        line-height: 28px;
     }

    &__list {
        .list__item {
            font-size: 18px;
            line-height: 28px;
        }
        .list__link {
            text-transform: capitalize;
            color: $clr-dark;
            line-height: 1;
            &:hover,
            &:focus {
                color: $clr-accent;
            }
        }
    }
   
    &__title {
        line-height: 40px;
        margin-bottom: 30px;
        @include mq(lg){
            margin-bottom: 0px;
            font-size: 26px;
            line-height: 80px;
         }
    }
    .list--hover {
        .list__link {
            position: relative;
            transition: color .3s ease-out;
            &:hover,
            &:focus {
                color: $clr-accent;
            }
        }
    }
    .back-to-top {
        width: 44px;
        height: 44px;
        background: $clr-accent-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover  svg path ,
        &:focus  svg path  {
            stroke: #E3B838;
        }
        @include mq(sm){
            order: -1;
                } 
    }
}

.copyright-wrapper {
    border-top: 1px solid #E0E1DD;
    margin-top: 60px;
    @include mq(sm){
    padding-block:10px;
        } 
}
.copyright-section {
    display: flex;
    justify-content: space-between;
    align-items: center;     
    @include mq(sm){
     flex-direction: column-reverse;
     gap: 5px;
     } 
}