@import './variables';

.btn__outline-accent {
    border:1px solid $clr-accent;
    color: $clr-accent !important;
    background: transparent;
    border-radius: 8px;
    padding: 4px 25px !important;
    font-weight: 500 !important;
    min-width: 169px;
    &:hover,
    &:focus {
        background: $clr-accent-light !important;
        color: $clr-accent !important;
        border:1px solid $clr-accent-light !important;
    }
}

.btn__outline-light {
    border:1px solid $clr-white;
    color: $clr-white;
    background: transparent;
    border-radius: 8px;
    padding: 4px 25px;
    font-weight: 500 !important;
    min-width: 188px;
    &:hover,
    &:focus {
        background: $clr-accent-light !important;
        color: $clr-accent-dark !important;
        border:1px solid $clr-accent-light !important;
    }
}

