@import './variables';
@import './mixins';

@media screen and (min-width:1700px) {
    .container {
        max-width: 1640px;
    }
}

a{
    text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

.block-margin{
   margin-block: 100px;
   @include mq(lg){
       margin-block: 100px;
    }
}
.block-padding{
   padding-block:115px 280px;
   @include mq(lg){
       padding-block: 40px 85px;
    }
}
.block-padding--xl{
   padding-block: 250px;
   @include mq(lg){
       padding-block: 100px;
    }
}

.text-accent {
   color: $clr-accent;
}

.object-cover {
    object-fit: cover;
}
.overlay-dark {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #161616, $alpha: .45);
    }
}

.border__top {
    border-top: 2px solid $clr-light;
}
.border__bottom {
    border-bottom: 2px solid $clr-light;
}
.border-block {
    border-block:1px solid #707070 ;
}

.bg__light {
    background: $clr-light;
}
.bg__accent {
    background: $clr-accent-dark;
}
.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light !important;
}

.min-h-inherit {
    min-height: inherit;
}

.mb-50 {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}
.mb-30 {
    margin-bottom: 30px;
}

@media screen and (min-width:992px) {
    .mb-130 {
        margin-bottom: 130px !important;
    }
}
.mb-75 {
    margin-bottom: 75px;
    @include mq(md) {
        margin-bottom: 45px;
    }
}



.list--arrow {
    list-style-image: url(../images/list-arrow.svg);
    max-width: 655px;
    padding-left: 32px;
    .list__item {
        color: $clr-light;
        padding-left: 10px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Urbanist', sans-serif;
        @include mq(md){
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 20px;
        }
    }
}

.section__content {
    max-width: 823px;
    &-wrapper {
        max-width: 1470px;
        margin-left: auto;
        padding-top: 341px;
        padding-bottom: 174px;
    }
    &-md {
        max-width: 685px;
    }
}


.social {
    &-sidebar {
        height: auto;
        position: fixed;
        top: 35vh;
        padding: 10px;
        padding-right: 0;
        right: 0;
        z-index: 2;
        a {
            display: block;
            background: $clr-accent-dark;
            padding: 46px 10px 46px 13px;
        }
    }
    &-icon  {
       
        position: relative;
        &:first-child::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            right:10%;
            width: 80%;
            margin: 0 auto;
            display: block;
            height: 1px;
            background: $clr-accent;
        }
    }
}
.mail-icon {
    &:hover svg path,
    &:focus  svg path
    {
        stroke: #E3B838;
    }
}
.phone-icon {
    &:hover svg path,
    &:focus  svg path
    {
        fill: #E3B838;
    }
}

.grid-cols-2 {
    grid-template-columns: repeat(2,1fr);
    @include mq(lg) {
        grid-template-columns: 1fr;
    }
}

.bg__gradient {
    background: linear-gradient(158deg, #b3c8e6 0%, #e0e1dd 100%);
}

.know__content {
    padding-left: 144px;
    @include mq(lg) {
        padding-left: 50px;
    }
}