@import './variables';
@import './mixins';

@media screen and (min-width:1700px) {
    .container {
        max-width: 1640px;
    }
}

a{
    text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

.block-margin{
   margin-block: 100px;
   @include mq(lg){
       margin-block: 100px;
    }
}
.block-padding{
   padding-block:115px 280px;
   @include mq(lg){
       padding-block: 40px 85px;
    }
}
.block-padding--xl{
   padding-block: 170px;
   @include mq(lg){
       padding-block: 100px;
    }
}

.text-accent {
   color: $clr-accent;
}

.object-cover {
    object-fit: cover;
}
.overlay-dark {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #161616, $alpha: .45);
    }
}

.border__top {
    border-top: 2px solid $clr-light;
}
.border__bottom {
    border-bottom: 2px solid $clr-light;
}
.border-block {
    border-block:1px solid #707070 ;
}

.bg__light {
    background:#E0E1DD;
}
.bg__accent {
    background: $clr-accent-dark;
}
.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light !important;
}
.text__dark {
    color: $clr-dark !important;
}

.min-h-inherit {
    min-height: inherit;
}

.mb-50 {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}
.mb-30 {
    margin-bottom: 30px;
}

@media screen and (min-width:992px) {
    .mb-130 {
        margin-bottom: 130px !important;
    }
}
.mb-75 {
    margin-bottom: 75px;
    @include mq(md) {
        margin-bottom: 45px;
    }
}

.prev-link {
    color: #747678;
    &::before {
        content: '';
        width: 15px;
        height: 10px;
        display: inline-block;
        background: url(../images/chevron-left.svg) no-repeat center;
        vertical-align: middle;
        transform: rotate(-180deg);
    }
    &:hover {
        color: #747678;
    }
}



.list--arrow {
    list-style-image: url(../images/list-arrow.svg);
    max-width: 655px;
    padding-left: 32px;
    .list__item {
        color: $clr-light;
        padding-left: 10px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Urbanist', sans-serif;
        @include mq(md){
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 20px;
        }
    }
}

.section__content {
    max-width: 761px;
    &-md {
        max-width:570px;
    }
}


.social {
    &-sidebar {
        height: auto;
        position: fixed;
        top: 35vh;
        padding: 10px;
        padding-right: 0;
        right: 0;
        z-index: 2;
        a {
            display: block;
            background: $clr-accent-dark;
            padding: 46px 10px 46px 13px;
        }
    }
    &-icon  {
       
        position: relative;
        &:first-child::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            right:10%;
            width: 80%;
            margin: 0 auto;
            display: block;
            height: 1px;
            background: $clr-accent;
        }
    }
}
.mail-icon {
    &:hover svg path,
    &:focus  svg path
    {
        stroke: #E3B838;
    }
}
.phone-icon {
    &:hover svg path,
    &:focus  svg path
    {
        fill: #E3B838;
    }
}

.grid-cols-2 {
    grid-template-columns: repeat(2,1fr);
    @include mq(lg) {
        grid-template-columns: 1fr;
    }
}

.bg__gradient {
    background: linear-gradient(158deg, #b3c8e6 0%, #e0e1dd 100%);
}
.bg__blue--light {
    background: #B3C8E6;
}
.know__content {
    padding-left: 144px;
    @include mq(lg) {
        padding-left: 0px;
    }
}

.shadow-md {
    box-shadow: 0 2px 15px rgba($color: #000000, $alpha: .4);
}

.card {
    max-width: 344px;
    padding: 90px 88px 80px !important;
    text-align: center;
    height: 100%;
    h3 {
        white-space: nowrap;
        @include mq(xxxl) {
            white-space: wrap;
        }
    }
}

.solution {
    padding-block:120px 100px;
    &__content {
        padding-left: 144px;
        @include mq(lg) {
            padding-left: 0px;
        }
    }
}

.application {
    padding-block:170px;
&__content {
    padding-left: 50px;
    @include mq(lg) {
        padding-left: 0px;
    }
}
}

.know-center {
    position: relative;
    padding-block:113px 100px ;
    overflow: hidden;
  .nav-pills {
    position: relative;
    z-index: 2;
    .nav-link {
        color: $clr-accent;
        border-color: $clr-accent;
        border-width: 2px;
        padding-right: 5px;
        &.active {
            color: #D52B21;
        }
    }
  }
  
    .accordion {
       position: relative;
        &-item {
            border-bottom:2px solid #E0E1DD !important;
        }
        &-body {
            padding-top: 0;
        }
        &-button {
            font-size: 25px !important;
            line-height: 33px;
            font-family: 'Work Sans', sans-serif;
            &::after {
                background-image: url(../images/plus-icon.svg);
                background-position: center;
            }
            &:focus {
                box-shadow: none;
            }
            &:not(.collapsed) {
                box-shadow: none;
                &::after {
                    background-image: url(../images/minus-icon.svg);   
                }
            }
        }
    }

    &::before  {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 34.80%;
        height: 100%;
        display: block;
        background: #E0E1DD;
        @include mq(xl) {
          display: none;
        }
    }
    .left {
        position: relative;
        &::before  {
            @include mq(xl) {
                content: "";
                position: absolute;
                left: -24px;
                top: -3%;
                right: -24px;
                display: block;
                background: #e0e1dd;
                width: 107%;
                height: 106%;
            }
        }
    }
}

.tab-pane-content {
    padding-left: 221px;
    @include mq(xxxl) {
        padding-left: 100px;
    }
    @include mq(lg) {
        padding-left: 0px;
    }
}

.topbar {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    & > .bar {
        height: 13px;
        flex-basis: 100%;
    }
    .color {
        &-blue {
            background:#21578A ;
            &--light{
                background:#B3C8E6 ;
            }
            &--dark{
                background:#002F5F ;
            }
        }
        &-yellow {
            background:#E3B838 ;
        }
        &-red {
            background:#D52B21 ;
        }
        &-gray {
            background:#9EA1A8 ;
            &--dark {
                background:#3F3D3E ;
            }
        }
    }
}


.products {
    margin-top: 97px;
    padding-block: 155px 243px;
    &-cards {
        padding-bottom: 160px;
        h3 {
            margin-bottom: 0;
        }
        img {
            margin-bottom: 20px;
        }
    }
}

.product{
    &-detail {
        margin-top: 97px;
        padding-block: 155px 243px;   
    }

    &-info {
        background: #B3C8E6;
        padding-block: 47px;
        text-align: center;
        h3 {
            color: $clr-accent;
            line-height: 33px;
        }
        &__content{
            max-width: 594px;
            margin: 0 auto;
        }
    }
}
.list--arrow {
    margin-bottom: 0;
    .list__item {
        padding-left: 0;
    }
    .list__link{
        display: flex;
        align-items: baseline;
        color: $clr-black;
        font-size: 25px;
        line-height: 29px;
        &::before {
            content: "";
            width: 15px;
            height: 10px;
            display: inline-block;
            background: url(../images/chevron-right.svg) no-repeat center;
            vertical-align: middle;
            margin-right: 5px;
        }
        &:hover {
            color: $clr-accent;
        }
    }
}

.application__products {
   padding-block:236px 174px;
   @include mq(xxl) {
    padding-block:100px;
}
    h3 {
        color: $clr-accent;
    }
}