@import '../../variables';
@import '../../mixins';
.feature {
    padding-block:160px;
    @include mq(md) {
        padding-block:80px;
    }
    .nav-pills {
        max-width: 760px;
        .nav-link {
            background: transparent;
            font-size: 32px !important;
            line-height: 47px;
            font-family: 'Work Sans', sans-serif;
            color: $clr-white;
            padding-inline:0 !important;
            border-bottom: 1px solid $clr-accent-light;
            border-radius: 0;
            padding-bottom: 40px;
            margin-bottom: 40px;
            display: flex;
            @include mq(lg) {
                padding-bottom: 20px;
                margin-bottom: 20px;
                font-size: 26px !important;
                line-height: 35px;
            }
            @include mq(sm) {
                padding-bottom: 20px;
                margin-bottom: 20px;
                font-size: 22px !important;
                line-height: 30px;
            }
              span {
                text-align: left;
              }
            &:last-child {
                border: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            &.active {
                color: $clr-accent-light;
            }
        }
    }

   
}