@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
@font-face {
  font-family: "Arial";
  src: url("font/Arial.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

h1 {
  font-size: 46px;
  line-height: 65px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Work Sans", sans-serif;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }
}

h2 {
  font-size: 46px;
  line-height: 65px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: -2px;
  font-family: "Work Sans", sans-serif;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
}

h3 {
  font-size: 25px;
  line-height: 60px;
  font-family: "Arial";
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 35px;
  }
}

a, button {
  font-family: "Arial";
  font-size: 18px !important;
  line-height: 21px;
}

.section__title {
  font-size: 32px;
  line-height: 45px;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 22px;
    line-height: 30px;
  }
}

.btn__outline-accent {
  border: 1px solid #21578A;
  color: #21578A !important;
  background: transparent;
  border-radius: 8px;
  padding: 4px 25px !important;
  font-weight: 500 !important;
  min-width: 169px;
}
.btn__outline-accent:hover, .btn__outline-accent:focus {
  background: #B3C8E6 !important;
  color: #21578A !important;
  border: 1px solid #B3C8E6 !important;
}

.btn__outline-white {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  border-radius: 8px;
  padding: 4px 25px;
  font-weight: 500 !important;
  min-width: 188px;
}
.btn__outline-white:hover, .btn__outline-white:focus {
  background: #B3C8E6 !important;
  color: #002F5F !important;
  border: 1px solid #B3C8E6 !important;
}

.btn__outline-light {
  border: 1px solid #B3C8E6;
  color: #B3C8E6;
  background: transparent;
  border-radius: 8px;
  padding: 4px 25px;
  font-weight: 500 !important;
  min-width: 188px;
}
.btn__outline-light:hover, .btn__outline-light:focus {
  background: #B3C8E6 !important;
  color: #002F5F !important;
  border: 1px solid #B3C8E6 !important;
}

.btn__outline-dark {
  border: 1px solid #002F5F;
  color: #002F5F;
  background: transparent;
  border-radius: 8px;
  padding: 4px 25px;
  font-weight: 500 !important;
  min-width: 188px;
}
.btn__outline-dark:hover, .btn__outline-dark:focus {
  background: #21578A !important;
  color: #fff !important;
  border: 1px solid #21578A !important;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1640px;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.block-margin {
  margin-block: 100px;
}
@media screen and (max-width: 992px) {
  .block-margin {
    margin-block: 100px;
  }
}

.block-padding {
  padding-block: 115px 280px;
}
@media screen and (max-width: 992px) {
  .block-padding {
    padding-block: 40px 85px;
  }
}

.block-padding--xl {
  padding-block: 170px;
}
@media screen and (max-width: 992px) {
  .block-padding--xl {
    padding-block: 100px;
  }
}

.text-accent {
  color: #21578A;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg__light {
  background: #E0E1DD;
}

.bg__accent {
  background: #002F5F;
}

.bg__accent-dark {
  background: #002F5F;
}

.text__accent {
  color: #21578A !important;
}

.text__light {
  color: #F2F2F2 !important;
}

.text__dark {
  color: #272727 !important;
}

.min-h-inherit {
  min-height: inherit;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.prev-link {
  color: #747678;
}
.prev-link::before {
  content: "";
  width: 15px;
  height: 10px;
  display: inline-block;
  background: url(../images/chevron-left.svg) no-repeat center;
  vertical-align: middle;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.prev-link:hover {
  color: #747678;
}

.section__content {
  max-width: 761px;
}
.section__content-md {
  max-width: 570px;
}

.social-sidebar {
  height: auto;
  position: fixed;
  top: 35vh;
  padding: 10px;
  padding-right: 0;
  right: 0;
  z-index: 2;
}
.social-sidebar a {
  display: block;
  background: #002F5F;
  padding: 46px 10px 46px 13px;
}
.social-icon {
  position: relative;
}
.social-icon:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 1px;
  background: #21578A;
}

.mail-icon:hover svg path, .mail-icon:focus svg path {
  stroke: #E3B838;
}

.phone-icon:hover svg path, .phone-icon:focus svg path {
  fill: #E3B838;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 992px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}

.bg__gradient {
  background: linear-gradient(158deg, #b3c8e6 0%, #e0e1dd 100%);
}

.bg__blue--light {
  background: #B3C8E6;
}

.know__content {
  padding-left: 144px;
}
@media screen and (max-width: 992px) {
  .know__content {
    padding-left: 0px;
  }
}

.shadow-md {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}

.card {
  max-width: 344px;
  padding: 90px 88px 80px !important;
  text-align: center;
  height: 100%;
}
.card h3 {
  white-space: nowrap;
}
@media screen and (max-width: 1800px) {
  .card h3 {
    white-space: wrap;
  }
}

.solution {
  padding-block: 120px 100px;
}
.solution__content {
  padding-left: 144px;
}
@media screen and (max-width: 992px) {
  .solution__content {
    padding-left: 0px;
  }
}

.application {
  padding-block: 170px;
}
.application__content {
  padding-left: 50px;
}
@media screen and (max-width: 992px) {
  .application__content {
    padding-left: 0px;
  }
}

.know-center {
  position: relative;
  padding-block: 113px 100px;
  overflow: hidden;
}
.know-center .nav-pills {
  position: relative;
  z-index: 2;
}
.know-center .nav-pills .nav-link {
  color: #21578A;
  border-color: #21578A;
  border-width: 2px;
  padding-right: 5px;
}
.know-center .nav-pills .nav-link.active {
  color: #D52B21;
}
.know-center .accordion {
  position: relative;
}
.know-center .accordion-item {
  border-bottom: 2px solid #E0E1DD !important;
}
.know-center .accordion-body {
  padding-top: 0;
}
.know-center .accordion-button {
  font-size: 25px !important;
  line-height: 33px;
  font-family: "Work Sans", sans-serif;
}
.know-center .accordion-button::after {
  background-image: url(../images/plus-icon.svg);
  background-position: center;
}
.know-center .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.know-center .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.know-center .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus-icon.svg);
}
.know-center::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 34.8%;
  height: 100%;
  display: block;
  background: #E0E1DD;
}
@media screen and (max-width: 1200px) {
  .know-center::before {
    display: none;
  }
}
.know-center .left {
  position: relative;
}
@media screen and (max-width: 1200px) {
  .know-center .left::before {
    content: "";
    position: absolute;
    left: -24px;
    top: -3%;
    right: -24px;
    display: block;
    background: #e0e1dd;
    width: 107%;
    height: 106%;
  }
}

.tab-pane-content {
  padding-left: 221px;
}
@media screen and (max-width: 1800px) {
  .tab-pane-content {
    padding-left: 100px;
  }
}
@media screen and (max-width: 992px) {
  .tab-pane-content {
    padding-left: 0px;
  }
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topbar > .bar {
  height: 13px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.topbar .color-blue {
  background: #21578A;
}
.topbar .color-blue--light {
  background: #B3C8E6;
}
.topbar .color-blue--dark {
  background: #002F5F;
}
.topbar .color-yellow {
  background: #E3B838;
}
.topbar .color-red {
  background: #D52B21;
}
.topbar .color-gray {
  background: #9EA1A8;
}
.topbar .color-gray--dark {
  background: #3F3D3E;
}

.products {
  margin-top: 97px;
  padding-block: 155px 243px;
}
.products-cards {
  padding-bottom: 160px;
}
.products-cards h3 {
  margin-bottom: 0;
}
.products-cards img {
  margin-bottom: 20px;
}

.product-detail {
  margin-top: 97px;
  padding-block: 155px 243px;
}
.product-info {
  background: #B3C8E6;
  padding-block: 47px;
  text-align: center;
}
.product-info h3 {
  color: #21578A;
  line-height: 33px;
}
.product-info__content {
  max-width: 594px;
  margin: 0 auto;
}

.list--arrow {
  margin-bottom: 0;
}
.list--arrow .list__item {
  padding-left: 0;
}
.list--arrow .list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #000;
  font-size: 25px;
  line-height: 29px;
}
.list--arrow .list__link::before {
  content: "";
  width: 15px;
  height: 10px;
  display: inline-block;
  background: url(../images/chevron-right.svg) no-repeat center;
  vertical-align: middle;
  margin-right: 5px;
}
.list--arrow .list__link:hover {
  color: #21578A;
}

.application__products {
  padding-block: 236px 174px;
}
@media screen and (max-width: 1400px) {
  .application__products {
    padding-block: 100px;
  }
}
.application__products h3 {
  color: #21578A;
}/*# sourceMappingURL=style.css.map */